Repository gravity-ui/uikit, pull requests merged in 2022-10, with the labels that each got.

#355 fix: update hc colors for generic-accent-disabled
  styles/colors/base/dark-hc.scss
  styles/colors/base/light-hc.scss
Labels: component: Colors

#356 fix: update hc colors for labels, buttons and brand-text
  src/components/Label/Label.scss
  src/components/Label/__stories__/Label.stories.scss
  src/components/Label/__stories__/Label.stories.tsx
  styles/brand.scss
  styles/colors/base/dark-hc.scss
  styles/colors/base/light-hc.scss
  styles/colors/text/dark-hc.scss
  styles/colors/text/light-hc.scss
Labels: component: Label, component: Colors

#363 feat: added React.forwardRef for Card
  src/components/Card/Card.tsx
Labels: feat, component: Card

#328 docs(Link): impoving Link docs
  CODEOWNERS
  src/components/Link/__stories__/Link.docs.mdx
  src/components/Link/__stories__/Link.new.stories.tsx
  src/components/Link/__stories__/Link.stories.tsx
  src/components/Link/__stories__/LinkShowcase.tsx
  src/components/Link/__stories__/examples/LinkExampleView/LinkExampleView.tsx
  src/components/Link/__tests__/Link.test.tsx
  src/demo/ShowcaseGrid/ShowcaseGrid.tsx
  src/demo/ShowcaseGrid/getPropsCombinations.test.ts
  src/demo/ShowcaseGrid/getPropsCombinations.tsx
Labels: component: Link
