Repository gravity-ui/uikit, pull requests merged in 2023-02, with the labels that each got.

#524 fix(Label): the Label with the close button style fix
  src/components/Label/Label.scss
Labels: bug, component: Label

#509 fix(TextInput): no unexpected autocomplete when label prop present
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/__tests__/TextInput.input.test.tsx
  src/components/TextInput/__tests__/TextInput.test.tsx
  src/components/TextInput/__tests__/TextInput.textarea.test.tsx
Labels: component: TextInput

#534 feat(Table): add onMouseDown action for Table tr
  src/components/Table/Table.tsx
  src/components/Table/__stories__/Table.stories.tsx
Labels: component: Table

#510 feat(Table): add table action icon
  src/components/Table/__stories__/Table.stories.tsx
  src/components/Table/hoc/withTableActions/withTableActions.tsx
Labels: component: Table
