Repository gravity-ui/uikit, pull requests merged in 2024-12, with the labels that each got.

#1809 test(Link): add smoke visual tests
  src/components/Link/__snapshots__/Link.visual.test.tsx-snapshots/Link-smoke-dark-chromium-linux.png
  src/components/Link/__snapshots__/Link.visual.test.tsx-snapshots/Link-smoke-light-chromium-linux.png
  src/components/Link/__tests__/Link.visual.test.tsx
  src/components/Link/__tests__/cases.tsx
Labels: visual tests

#1813 test(Overlay): add smoke visual tests
  src/components/Overlay/__snapshots__/Overlay.visual.test.tsx-snapshots/Overlay-smoke-dark-chromium-linux.png
  src/components/Overlay/__snapshots__/Overlay.visual.test.tsx-snapshots/Overlay-smoke-dark-webkit-linux.png
  src/components/Overlay/__snapshots__/Overlay.visual.test.tsx-snapshots/Overlay-smoke-light-chromium-linux.png
  src/components/Overlay/__snapshots__/Overlay.visual.test.tsx-snapshots/Overlay-smoke-light-webkit-linux.png
  src/components/Overlay/__tests__/Overlay.visual.test.tsx
  src/components/Overlay/__tests__/cases.tsx
Labels: visual tests

#1798 test(Text): add smoke visual tests
  src/components/Text/__snapshots__/Text.visual.test.tsx-snapshots/Text-smoke-long-text-light-chromium-linux.png
  src/components/Text/__snapshots__/Text.visual.test.tsx-snapshots/Text-smoke-regular-light-chromium-linux.png
  src/components/Text/__snapshots__/Text.visual.test.tsx-snapshots/Text-smoke-render-story-Ellipsis-light-chromium-linux.png
  src/components/Text/__snapshots__/Text.visual.test.tsx-snapshots/Text-smoke-render-story-WordBreak-light-chromium-linux.png
  src/components/Text/__tests__/Text.visual.test.tsx
  src/components/Text/__tests__/cases.tsx
  src/components/Text/__tests__/helpersPlaywright.tsx
  src/components/Text/__tests__/stories.ts
Labels: visual tests

#1769 test(Alert): add smoke visual tests
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Actions-dark-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Actions-dark-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Actions-light-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Actions-light-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Align-dark-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Align-dark-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Align-light-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Align-light-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Corners-dark-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Corners-dark-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Corners-light-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Corners-light-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-CustomIcon-dark-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-CustomIcon-dark-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-CustomIcon-light-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-CustomIcon-light-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Default-dark-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Default-dark-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Default-light-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Default-light-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Icon-dark-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Icon-dark-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Icon-light-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Icon-light-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Layout-dark-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Layout-dark-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Layout-light-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Layout-light-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Message-dark-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Message-dark-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Message-light-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Message-light-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Theme-dark-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Theme-dark-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Theme-light-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Theme-light-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Title-dark-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Title-dark-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Title-light-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-Title-light-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-View-dark-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-View-dark-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-View-light-chromium-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-render-story-View-light-webkit-linux.png
  src/components/Alert/__snapshots__/Alert.visual.test.tsx-snapshots/Alert-smoke-smoke-light-chromium-linux.png
  src/components/Alert/__stories__/Alert.stories.tsx
  src/components/Alert/__tests__/Alert.visual.test.tsx
  src/components/Alert/__tests__/cases.tsx
Labels: visual tests

#1803 test(Palette): add smoke visual tests
  src/components/Palette/__snapshots__/Palette.visual.test.tsx-snapshots/Palette-smoke-hover-after-click-dark-chromium-linux.png
  src/components/Palette/__snapshots__/Palette.visual.test.tsx-snapshots/Palette-smoke-hover-after-click-light-chromium-linux.png
  src/components/Palette/__snapshots__/Palette.visual.test.tsx-snapshots/Palette-smoke-hover-after-focus-dark-chromium-linux.png
  src/components/Palette/__snapshots__/Palette.visual.test.tsx-snapshots/Palette-smoke-hover-after-focus-light-chromium-linux.png
  src/components/Palette/__snapshots__/Palette.visual.test.tsx-snapshots/Palette-smoke-hover-dark-chromium-linux.png
  src/components/Palette/__snapshots__/Palette.visual.test.tsx-snapshots/Palette-smoke-hover-light-chromium-linux.png
  src/components/Palette/__snapshots__/Palette.visual.test.tsx-snapshots/Palette-smoke-smoke-light-chromium-linux.png
  src/components/Palette/__tests__/Palette.visual.test.tsx
  src/components/Palette/__tests__/cases.tsx
  src/components/Palette/__tests__/helpersPlaywright.tsx
Labels: visual tests

#1775 test(ClipboardIcon): add smoke visual tests
  src/components/ClipboardIcon/__snapshots__/ClipboardIcon.visual.test.tsx-snapshots/ClipboardIcon-smoke-smoke-light-chromium-linux.png
  src/components/ClipboardIcon/__tests__/ClipboardIcon.visual.test.tsx
  src/components/ClipboardIcon/__tests__/cases.tsx
Labels: visual tests

#1770 test(ArrowToggle): add smoke visual tests
  src/components/ArrowToggle/__snapshots__/ArrowToggle.visual.test.tsx-snapshots/ArrowToggle-smoke-smoke-light-chromium-linux.png
  src/components/ArrowToggle/__tests__/ArrowToggle.visual.test.tsx
  src/components/ArrowToggle/__tests__/cases.tsx
Labels: visual tests

#1820 test(Col): add visual tests
  playwright/core/types.ts
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-AllMods---l-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-AllMods---m-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-AllMods---s-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-AllMods---xl-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-AllMods---xxl-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-AllMods---xxxl-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-Dynamic---l-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-Dynamic---m-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-Dynamic---s-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-Dynamic---xl-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-Dynamic---xxl-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-Dynamic---xxxl-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-DynamicWithOverriddenBreakpoints---l-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-DynamicWithOverriddenBreakpoints---m-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-DynamicWithOverriddenBreakpoints---s-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-DynamicWithOverriddenBreakpoints---xl-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-DynamicWithOverriddenBreakpoints---xxl-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-DynamicWithOverriddenBreakpoints---xxxl-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-Static---l-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-Static---m-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-Static---s-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-Static---xl-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-Static---xxl-light-chromium-linux.png
  src/components/layout/Col/__snapshots__/Col.visual.test.tsx-snapshots/Col-smoke-render-story-Static---xxxl-light-chromium-linux.png
  src/components/layout/Col/__tests__/Col.visual.test.tsx
  src/components/layout/Col/__tests__/stories.ts
Labels: visual tests

#1796 test(Icon): add smoke visual tests
  src/components/Icon/__snapshots__/Icon.visual.test.tsx-snapshots/Icon-smoke-smoke-light-chromium-linux.png
  src/components/Icon/__tests__/Icon.visual.test.tsx
  src/components/Icon/__tests__/cases.tsx
  src/components/Icon/__tests__/helpersPlaywright.tsx
Labels: visual tests

#1821 test(Container): add smoke visual tests
  src/components/layout/Container/__snapshots__/Container.visual.test.tsx-snapshots/Container-smoke-render-story-Default---l-dark-chromium-linux.png
  src/components/layout/Container/__snapshots__/Container.visual.test.tsx-snapshots/Container-smoke-render-story-Default---l-light-chromium-linux.png
  src/components/layout/Container/__snapshots__/Container.visual.test.tsx-snapshots/Container-smoke-render-story-Default---m-dark-chromium-linux.png
  src/components/layout/Container/__snapshots__/Container.visual.test.tsx-snapshots/Container-smoke-render-story-Default---m-light-chromium-linux.png
  src/components/layout/Container/__snapshots__/Container.visual.test.tsx-snapshots/Container-smoke-render-story-Default---s-dark-chromium-linux.png
  src/components/layout/Container/__snapshots__/Container.visual.test.tsx-snapshots/Container-smoke-render-story-Default---s-light-chromium-linux.png
  src/components/layout/Container/__snapshots__/Container.visual.test.tsx-snapshots/Container-smoke-render-story-Default---xl-dark-chromium-linux.png
  src/components/layout/Container/__snapshots__/Container.visual.test.tsx-snapshots/Container-smoke-render-story-Default---xl-light-chromium-linux.png
  src/components/layout/Container/__snapshots__/Container.visual.test.tsx-snapshots/Container-smoke-render-story-Default---xxl-dark-chromium-linux.png
  src/components/layout/Container/__snapshots__/Container.visual.test.tsx-snapshots/Container-smoke-render-story-Default---xxl-light-chromium-linux.png
  src/components/layout/Container/__snapshots__/Container.visual.test.tsx-snapshots/Container-smoke-render-story-Default---xxxl-dark-chromium-linux.png
  src/components/layout/Container/__snapshots__/Container.visual.test.tsx-snapshots/Container-smoke-render-story-Default---xxxl-light-chromium-linux.png
  src/components/layout/Container/__tests__/Container.visual.test.tsx
  src/components/layout/Container/__tests__/stories.ts
Labels: visual tests

#1822 test(Flex): add smoke visual tests
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-ChildrenWithBgColor---l-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-ChildrenWithBgColor---m-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-ChildrenWithBgColor---s-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-ChildrenWithBgColor---xl-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-ChildrenWithBgColor---xxl-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-ChildrenWithBgColor---xxxl-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-Default---l-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-Default---m-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-Default---s-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-Default---xl-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-Default---xxl-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-Default---xxxl-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-FlexGap---l-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-FlexGap---m-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-FlexGap---s-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-FlexGap---xl-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-FlexGap---xxl-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-FlexGap---xxxl-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-GapAndRowGap---l-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-GapAndRowGap---m-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-GapAndRowGap---s-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-GapAndRowGap---xl-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-GapAndRowGap---xxl-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-GapAndRowGap---xxxl-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-WithNullChildren---l-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-WithNullChildren---m-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-WithNullChildren---s-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-WithNullChildren---xl-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-WithNullChildren---xxl-light-chromium-linux.png
  src/components/layout/Flex/__snapshots__/Flex.visual.test.tsx-snapshots/Flex-smoke-render-story-WithNullChildren---xxxl-light-chromium-linux.png
  src/components/layout/Flex/__tests__/Flex.visual.test.tsx
  src/components/layout/Flex/__tests__/stories.ts
Labels: visual tests

#1823 test(Row): add smoke visual tests
  src/components/layout/Row/__snapshots__/Row.visual.test.tsx-snapshots/Row-smoke-render-story-Default---l-light-chromium-linux.png
  src/components/layout/Row/__snapshots__/Row.visual.test.tsx-snapshots/Row-smoke-render-story-Default---m-light-chromium-linux.png
  src/components/layout/Row/__snapshots__/Row.visual.test.tsx-snapshots/Row-smoke-render-story-Default---s-light-chromium-linux.png
  src/components/layout/Row/__snapshots__/Row.visual.test.tsx-snapshots/Row-smoke-render-story-Default---xl-light-chromium-linux.png
  src/components/layout/Row/__snapshots__/Row.visual.test.tsx-snapshots/Row-smoke-render-story-Default---xxl-light-chromium-linux.png
  src/components/layout/Row/__snapshots__/Row.visual.test.tsx-snapshots/Row-smoke-render-story-Default---xxxl-light-chromium-linux.png
  src/components/layout/Row/__snapshots__/Row.visual.test.tsx-snapshots/Row-smoke-render-story-ZeroSpacings---l-light-chromium-linux.png
  src/components/layout/Row/__snapshots__/Row.visual.test.tsx-snapshots/Row-smoke-render-story-ZeroSpacings---m-light-chromium-linux.png
  src/components/layout/Row/__snapshots__/Row.visual.test.tsx-snapshots/Row-smoke-render-story-ZeroSpacings---s-light-chromium-linux.png
  src/components/layout/Row/__snapshots__/Row.visual.test.tsx-snapshots/Row-smoke-render-story-ZeroSpacings---xl-light-chromium-linux.png
  src/components/layout/Row/__snapshots__/Row.visual.test.tsx-snapshots/Row-smoke-render-story-ZeroSpacings---xxl-light-chromium-linux.png
  src/components/layout/Row/__snapshots__/Row.visual.test.tsx-snapshots/Row-smoke-render-story-ZeroSpacings---xxxl-light-chromium-linux.png
  src/components/layout/Row/__tests__/Row.visual.test.tsx
  src/components/layout/Row/__tests__/stories.ts
Labels: visual tests

#1804 test(Progress): add smoke visual tests
  src/components/Progress/__snapshots__/Progress.visual.test.tsx-snapshots/Progress-smoke-smoke-light-chromium-linux.png
  src/components/Progress/__snapshots__/Progress.visual.test.tsx-snapshots/Progress-smoke-smoke-with-color-stops-light-chromium-linux.png
  src/components/Progress/__snapshots__/Progress.visual.test.tsx-snapshots/Progress-smoke-smoke-with-stack-light-chromium-linux.png
  src/components/Progress/__tests__/Progress.visual.test.tsx
  src/components/Progress/__tests__/cases.tsx
Labels: visual tests

#1704 feat!: change disabled state color for Checkbox and Radio
  src/components/Checkbox/Checkbox.scss
  src/components/Radio/Radio.scss
Labels: breaking change

#1782 test(Disclosure): add smoke visual tests
  src/components/Disclosure/__snapshots__/Disclosure.visual.test.tsx-snapshots/Disclosure-smoke-smoke-collapsed-light-chromium-linux.png
  src/components/Disclosure/__snapshots__/Disclosure.visual.test.tsx-snapshots/Disclosure-smoke-smoke-expanded-light-chromium-linux.png
  src/components/Disclosure/__tests__/Disclosure.test.tsx
  src/components/Disclosure/__tests__/Disclosure.visual.test.tsx
  src/components/Disclosure/__tests__/cases.tsx
Labels: visual tests

#1780 test(Hotkey): add smoke visual tests
  src/components/Hotkey/__snapshots__/Hotkey.visual.test.tsx-snapshots/Hotkey-smoke-smoke-dark-view-dark-chromium-linux.png
  src/components/Hotkey/__snapshots__/Hotkey.visual.test.tsx-snapshots/Hotkey-smoke-smoke-light-view-light-chromium-linux.png
  src/components/Hotkey/__tests__/Hotkey.visual.test.tsx
  src/components/Hotkey/__tests__/cases.tsx
Labels: visual tests

#1773 test(Card): add smoke visual tests
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-ActionType-dark-chromium-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-ActionType-dark-webkit-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-ActionType-light-chromium-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-ActionType-light-webkit-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-Custom-dark-chromium-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-Custom-dark-webkit-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-Custom-light-chromium-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-Custom-light-webkit-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-Default-dark-chromium-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-Default-dark-webkit-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-Default-light-chromium-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-Default-light-webkit-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-SelectionType-dark-chromium-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-SelectionType-dark-webkit-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-SelectionType-light-chromium-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-SelectionType-light-webkit-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-Size-dark-chromium-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-Size-dark-webkit-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-Size-light-chromium-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-Size-light-webkit-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-Theme-dark-chromium-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-Theme-dark-webkit-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-Theme-light-chromium-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-Theme-light-webkit-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-View-dark-chromium-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-View-dark-webkit-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-View-light-chromium-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-render-story-View-light-webkit-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-smoke-smoke-action-type-light-chromium-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-smoke-smoke-container-type-light-chromium-linux.png
  src/components/Card/__snapshots__/Card.visual.test.tsx-snapshots/Card-smoke-smoke-selection-type-light-chromium-linux.png
  src/components/Card/__tests__/Card.visual.test.tsx
  src/components/Card/__tests__/cases.tsx
Labels: visual tests

#1670 feat(Slider)!: support form
  src/components/Slider/BaseSlider/BaseSlider.tsx
  src/components/Slider/README.md
  src/components/Slider/Slider.tsx
  src/components/Slider/__tetsts__/Slider.form.test.tsx
  src/components/Slider/types.ts
Labels: breaking change, component: Slider

#1818 test(AvatarStack): add smoke visual tests
  src/components/AvatarStack/__snapshots__/AvatarStack.visual.test.tsx-snapshots/AvatarStack-smoke-light-chromium-linux.png
  src/components/AvatarStack/__snapshots__/AvatarStack.visual.test.tsx-snapshots/AvatarStack-smoke-with-custom-more-light-chromium-linux.png
  src/components/AvatarStack/__tests__/AvatarStack.visual.test.tsx
  src/components/AvatarStack/__tests__/cases.ts
  src/components/AvatarStack/__tests__/helpersPlaywright.tsx
Labels: visual tests

#1794 test(Tabs): add smoke visual tests
  src/components/Tabs/TabsItem.tsx
  src/components/Tabs/__snapshots__/Tabs.visual.test.tsx-snapshots/Tabs-smoke-allow-not-selected-light-chromium-linux.png
  src/components/Tabs/__snapshots__/Tabs.visual.test.tsx-snapshots/Tabs-smoke-light-chromium-linux.png
  src/components/Tabs/__snapshots__/Tabs.visual.test.tsx-snapshots/Tabs-smoke-with-custom-tab-light-chromium-linux.png
  src/components/Tabs/__stories__/getTabsMock.tsx
  src/components/Tabs/__tests__/Tabs.visual.test.tsx
  src/components/Tabs/__tests__/cases.tsx
  src/components/Tabs/__tests__/helpers.tsx
Labels: visual tests

#1771 test(Avatar): add smoke visual tests
  src/components/Avatar/__snapshots__/Avatar.visual.test.tsx-snapshots/Avatar-render-story-Icon-1-chromium-linux.png
  src/components/Avatar/__snapshots__/Avatar.visual.test.tsx-snapshots/Avatar-render-story-Icon-1-webkit-linux.png
  src/components/Avatar/__snapshots__/Avatar.visual.test.tsx-snapshots/Avatar-render-story-Image-1-chromium-linux.png
  src/components/Avatar/__snapshots__/Avatar.visual.test.tsx-snapshots/Avatar-render-story-Image-1-webkit-linux.png
  src/components/Avatar/__snapshots__/Avatar.visual.test.tsx-snapshots/Avatar-render-story-ImageFallback-1-chromium-linux.png
  src/components/Avatar/__snapshots__/Avatar.visual.test.tsx-snapshots/Avatar-render-story-Showcase-1-chromium-linux.png
  src/components/Avatar/__snapshots__/Avatar.visual.test.tsx-snapshots/Avatar-render-story-Showcase-1-webkit-linux.png
  src/components/Avatar/__snapshots__/Avatar.visual.test.tsx-snapshots/Avatar-render-story-Text-1-chromium-linux.png
  src/components/Avatar/__snapshots__/Avatar.visual.test.tsx-snapshots/Avatar-render-story-Text-1-webkit-linux.png
  src/components/Avatar/__snapshots__/Avatar.visual.test.tsx-snapshots/Avatar-render-story-TextInitials-1-chromium-linux.png
  src/components/Avatar/__snapshots__/Avatar.visual.test.tsx-snapshots/Avatar-render-story-TextInitials-1-webkit-linux.png
  src/components/Avatar/__snapshots__/Avatar.visual.test.tsx-snapshots/Avatar-render-story-WithBorder-1-chromium-linux.png
  src/components/Avatar/__snapshots__/Avatar.visual.test.tsx-snapshots/Avatar-render-story-WithBorder-1-webkit-linux.png
  src/components/Avatar/__snapshots__/Avatar.visual.test.tsx-snapshots/Avatar-smoke-with-icon-light-chromium-linux.png
  src/components/Avatar/__snapshots__/Avatar.visual.test.tsx-snapshots/Avatar-smoke-with-image-light-chromium-linux.png
  src/components/Avatar/__snapshots__/Avatar.visual.test.tsx-snapshots/Avatar-smoke-with-text-light-chromium-linux.png
  src/components/Avatar/__tests__/Avatar.visual.test.tsx
  src/components/Avatar/__tests__/cases.tsx
  src/components/Avatar/__tests__/helpersPlaywright.tsx
Labels: visual tests

#1793 test(User): add smoke visual tests
  src/components/User/__snapshots__/User.visual.test.tsx-snapshots/User-render-story-Default-1-chromium-linux.png
  src/components/User/__snapshots__/User.visual.test.tsx-snapshots/User-render-story-Default-1-webkit-linux.png
  src/components/User/__snapshots__/User.visual.test.tsx-snapshots/User-smoke-light-chromium-linux.png
  src/components/User/__tests__/User.visual.test.tsx
  src/components/User/__tests__/cases.tsx
  src/components/User/__tests__/helpers.tsx
Labels: visual tests

#1792 test(UserLabel): add smoke visual tests
  src/components/UserLabel/__snapshots__/UserLabel.visual.test.tsx-snapshots/UserLabel-smoke-email-light-chromium-linux.png
  src/components/UserLabel/__snapshots__/UserLabel.visual.test.tsx-snapshots/UserLabel-smoke-person-light-chromium-linux.png
  src/components/UserLabel/__snapshots__/UserLabel.visual.test.tsx-snapshots/UserLabel-smoke-user-light-chromium-linux.png
  src/components/UserLabel/__tests__/UserLabel.visual.test.tsx
  src/components/UserLabel/__tests__/cases.tsx
  src/components/UserLabel/__tests__/helpers.tsx
Labels: visual tests

#1784 test(Divider): add smoke visual tests
  src/components/Divider/__snapshots__/Divider.visual.test.tsx-snapshots/Divider-smoke-smoke-light-chromium-linux.png
  src/components/Divider/__tests__/Divider.visual.test.tsx
  src/components/Divider/__tests__/cases.tsx
  src/components/Divider/__tests__/helpers.tsx
Labels: visual tests

#1805 test(Radio): add smoke visual tests
  src/components/Radio/__snapshots__/Radio.visual.test.tsx-snapshots/Radio-smoke-dark-chromium-linux.png
  src/components/Radio/__snapshots__/Radio.visual.test.tsx-snapshots/Radio-smoke-default-checked-dark-chromium-linux.png
  src/components/Radio/__snapshots__/Radio.visual.test.tsx-snapshots/Radio-smoke-default-checked-light-chromium-linux.png
  src/components/Radio/__snapshots__/Radio.visual.test.tsx-snapshots/Radio-smoke-disabled-dark-chromium-linux.png
  src/components/Radio/__snapshots__/Radio.visual.test.tsx-snapshots/Radio-smoke-disabled-light-chromium-linux.png
  src/components/Radio/__snapshots__/Radio.visual.test.tsx-snapshots/Radio-smoke-light-chromium-linux.png
  src/components/Radio/__tests__/Radio.visual.test.tsx
  src/components/Radio/__tests__/cases.tsx
Labels: visual tests

#1806 test(RadioGroup): add smoke visual tests
  src/components/RadioGroup/RadioGroup.tsx
  src/components/RadioGroup/__snapshots__/RadioGroup.visual.test.tsx-snapshots/RadioGroup-smoke-dark-chromium-linux.png
  src/components/RadioGroup/__snapshots__/RadioGroup.visual.test.tsx-snapshots/RadioGroup-smoke-disabled-dark-chromium-linux.png
  src/components/RadioGroup/__snapshots__/RadioGroup.visual.test.tsx-snapshots/RadioGroup-smoke-disabled-light-chromium-linux.png
  src/components/RadioGroup/__snapshots__/RadioGroup.visual.test.tsx-snapshots/RadioGroup-smoke-light-chromium-linux.png
  src/components/RadioGroup/__tests__/RadioGroup.visual.test.tsx
  src/components/RadioGroup/__tests__/cases.tsx
Labels: visual tests

#1799 test(Switch): add smoke visual tests
  src/components/Switch/__snapshots__/Switch.visual.test.tsx-snapshots/Switch-smoke-checked-dark-chromium-linux.png
  src/components/Switch/__snapshots__/Switch.visual.test.tsx-snapshots/Switch-smoke-checked-light-chromium-linux.png
  src/components/Switch/__snapshots__/Switch.visual.test.tsx-snapshots/Switch-smoke-dark-chromium-linux.png
  src/components/Switch/__snapshots__/Switch.visual.test.tsx-snapshots/Switch-smoke-light-chromium-linux.png
  src/components/Switch/__tests__/Switch.visual.test.tsx
  src/components/Switch/__tests__/cases.tsx
Labels: visual tests

#1811 test(Menu): add smoke visual tests
  src/components/Menu/__snapshots__/Menu.visual.test.tsx-snapshots/Menu-smoke-dark-chromium-linux.png
  src/components/Menu/__snapshots__/Menu.visual.test.tsx-snapshots/Menu-smoke-light-chromium-linux.png
  src/components/Menu/__snapshots__/Menu.visual.test.tsx-snapshots/Menu-smoke-menu-group-dark-chromium-linux.png
  src/components/Menu/__snapshots__/Menu.visual.test.tsx-snapshots/Menu-smoke-menu-group-light-chromium-linux.png
  src/components/Menu/__snapshots__/Menu.visual.test.tsx-snapshots/Menu-smoke-menu-item-dark-chromium-linux.png
  src/components/Menu/__snapshots__/Menu.visual.test.tsx-snapshots/Menu-smoke-menu-item-light-chromium-linux.png
  src/components/Menu/__snapshots__/Menu.visual.test.tsx-snapshots/Menu-smoke-menu-item-with-icons-dark-chromium-linux.png
  src/components/Menu/__snapshots__/Menu.visual.test.tsx-snapshots/Menu-smoke-menu-item-with-icons-light-chromium-linux.png
  src/components/Menu/__tests__/Menu.visual.test.tsx
  src/components/Menu/__tests__/cases.tsx
  src/components/Menu/__tests__/helpers.tsx
Labels: visual tests

#1810 test(Label): add smoke visual tests
  src/components/Label/Label.tsx
  src/components/Label/__snapshots__/Label.visual.test.tsx-snapshots/Label-render-story-ShowcaseStory-dark-chromium-linux.png
  src/components/Label/__snapshots__/Label.visual.test.tsx-snapshots/Label-render-story-ShowcaseStory-dark-webkit-linux.png
  src/components/Label/__snapshots__/Label.visual.test.tsx-snapshots/Label-render-story-ShowcaseStory-light-chromium-linux.png
  src/components/Label/__snapshots__/Label.visual.test.tsx-snapshots/Label-render-story-ShowcaseStory-light-webkit-linux.png
  src/components/Label/__snapshots__/Label.visual.test.tsx-snapshots/Label-smoke-dark-chromium-linux.png
  src/components/Label/__snapshots__/Label.visual.test.tsx-snapshots/Label-smoke-light-chromium-linux.png
  src/components/Label/__snapshots__/Label.visual.test.tsx-snapshots/Label-smoke-with-close-dark-chromium-linux.png
  src/components/Label/__snapshots__/Label.visual.test.tsx-snapshots/Label-smoke-with-close-light-chromium-linux.png
  src/components/Label/__snapshots__/Label.visual.test.tsx-snapshots/Label-smoke-with-copy-dark-chromium-linux.png
  src/components/Label/__snapshots__/Label.visual.test.tsx-snapshots/Label-smoke-with-copy-light-chromium-linux.png
  src/components/Label/__snapshots__/Label.visual.test.tsx-snapshots/Label-smoke-with-custom-icon-dark-chromium-linux.png
  src/components/Label/__snapshots__/Label.visual.test.tsx-snapshots/Label-smoke-with-custom-icon-light-chromium-linux.png
  src/components/Label/__tests__/Label.visual.test.tsx
  src/components/Label/__tests__/cases.tsx
  src/components/Label/__tests__/helpersPlaywright.ts
  src/components/Label/__tests__/helpersPlaywright.tsx
  src/components/Label/constants.ts
Labels: visual tests

#1791 test(Table): add smoke visual tests
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-render-story-Adaptive-light-chromium-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-render-story-Default-dark-chromium-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-render-story-Default-dark-webkit-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-render-story-Default-light-chromium-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-render-story-Default-light-webkit-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-render-story-EmptyCustom-light-chromium-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-render-story-EmptyDefault-light-chromium-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-render-story-HOCWithTableSorting-dark-chromium-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-render-story-HOCWithTableSorting-dark-webkit-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-render-story-HOCWithTableSorting-light-chromium-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-render-story-HOCWithTableSorting-light-webkit-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-smoke-column-config-light-chromium-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-smoke-light-chromium-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-smoke-with-actions-light-chromium-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-smoke-with-checkbox-light-chromium-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-smoke-with-copy-light-chromium-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-smoke-with-filterable-settings-light-chromium-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-smoke-with-settings-light-chromium-linux.png
  src/components/Table/__snapshots__/Table.visual.test.tsx-snapshots/Table-smoke-with-table-settings-light-chromium-linux.png
  src/components/Table/__stories__/Table.stories.tsx
  src/components/Table/__tests__/Table.visual.test.tsx
  src/components/Table/__tests__/cases.tsx
  src/components/Table/__tests__/helpersPlaywright.tsx
Labels: visual tests

#1807 test(RadioButton): add smoke visual tests
  src/components/RadioButton/__snapshots__/RadioButton.visual.test.tsx-snapshots/RadioButton-smoke-dark-chromium-linux.png
  src/components/RadioButton/__snapshots__/RadioButton.visual.test.tsx-snapshots/RadioButton-smoke-disabled-dark-chromium-linux.png
  src/components/RadioButton/__snapshots__/RadioButton.visual.test.tsx-snapshots/RadioButton-smoke-disabled-light-chromium-linux.png
  src/components/RadioButton/__snapshots__/RadioButton.visual.test.tsx-snapshots/RadioButton-smoke-light-chromium-linux.png
  src/components/RadioButton/__tests__/RadioButton.visual.test.tsx
  src/components/RadioButton/__tests__/cases.tsx
Labels: visual tests

#1816 test(Slider): add smoke visual tests
  src/components/Slider/__snapshots__/Slider.visual.test.tsx-snapshots/Slider-smoke-light-chromium-linux.png
  src/components/Slider/__snapshots__/Slider.visual.test.tsx-snapshots/Slider-smoke-range-value-light-chromium-linux.png
  src/components/Slider/__snapshots__/Slider.visual.test.tsx-snapshots/Slider-smoke-range-value-with-error-light-chromium-linux.png
  src/components/Slider/__snapshots__/Slider.visual.test.tsx-snapshots/Slider-smoke-with-error-light-chromium-linux.png
  src/components/Slider/__tests__/Slider.visual.test.tsx
  src/components/Slider/__tests__/cases.tsx
Labels: visual tests

#1768 test(ActionTooltip): add smoke visual tests
  src/components/ActionTooltip/__snapshots__/ActionTooltip.visual.test.tsx-snapshots/ActionTooltip-smoke-default-light-chromium-linux.png
  src/components/ActionTooltip/__snapshots__/ActionTooltip.visual.test.tsx-snapshots/ActionTooltip-smoke-placement-auto-end-light-chromium-linux.png
  src/components/ActionTooltip/__snapshots__/ActionTooltip.visual.test.tsx-snapshots/ActionTooltip-smoke-placement-auto-light-chromium-linux.png
  src/components/ActionTooltip/__snapshots__/ActionTooltip.visual.test.tsx-snapshots/ActionTooltip-smoke-placement-auto-start-light-chromium-linux.png
  src/components/ActionTooltip/__snapshots__/ActionTooltip.visual.test.tsx-snapshots/ActionTooltip-smoke-placement-bottom-end-light-chromium-linux.png
  src/components/ActionTooltip/__snapshots__/ActionTooltip.visual.test.tsx-snapshots/ActionTooltip-smoke-placement-bottom-light-chromium-linux.png
  src/components/ActionTooltip/__snapshots__/ActionTooltip.visual.test.tsx-snapshots/ActionTooltip-smoke-placement-bottom-start-light-chromium-linux.png
  src/components/ActionTooltip/__snapshots__/ActionTooltip.visual.test.tsx-snapshots/ActionTooltip-smoke-placement-left-end-light-chromium-linux.png
  src/components/ActionTooltip/__snapshots__/ActionTooltip.visual.test.tsx-snapshots/ActionTooltip-smoke-placement-left-light-chromium-linux.png
  src/components/ActionTooltip/__snapshots__/ActionTooltip.visual.test.tsx-snapshots/ActionTooltip-smoke-placement-left-start-light-chromium-linux.png
  src/components/ActionTooltip/__snapshots__/ActionTooltip.visual.test.tsx-snapshots/ActionTooltip-smoke-placement-right-end-light-chromium-linux.png
  src/components/ActionTooltip/__snapshots__/ActionTooltip.visual.test.tsx-snapshots/ActionTooltip-smoke-placement-right-light-chromium-linux.png
  src/components/ActionTooltip/__snapshots__/ActionTooltip.visual.test.tsx-snapshots/ActionTooltip-smoke-placement-right-start-light-chromium-linux.png
  src/components/ActionTooltip/__snapshots__/ActionTooltip.visual.test.tsx-snapshots/ActionTooltip-smoke-placement-top-end-light-chromium-linux.png
  src/components/ActionTooltip/__snapshots__/ActionTooltip.visual.test.tsx-snapshots/ActionTooltip-smoke-placement-top-light-chromium-linux.png
  src/components/ActionTooltip/__snapshots__/ActionTooltip.visual.test.tsx-snapshots/ActionTooltip-smoke-placement-top-start-light-chromium-linux.png
  src/components/ActionTooltip/__tests__/ActionTooltip.visual.test.tsx
  src/components/ActionTooltip/__tests__/cases.tsx
Labels: visual tests

#1812 test(Modal): add smoke visual tests
  playwright/core/types.ts
  src/components/Modal/__snapshots__/Modal.visual.test.tsx-snapshots/Modal-smoke-dark-chromium-linux.png
  src/components/Modal/__snapshots__/Modal.visual.test.tsx-snapshots/Modal-smoke-light-chromium-linux.png
  src/components/Modal/__tests__/Modal.visual.test.tsx
  src/components/Modal/__tests__/constants.ts
Labels: visual tests

#1781 test(Dialog): add smoke visual tests
  src/components/Dialog/__snapshots__/Dialog.visual.test.tsx-snapshots/Dialog-smoke-bodyContent-long-light-chromium-linux.png
  src/components/Dialog/__snapshots__/Dialog.visual.test.tsx-snapshots/Dialog-smoke-bodyHasBorder-true-light-chromium-linux.png
  src/components/Dialog/__snapshots__/Dialog.visual.test.tsx-snapshots/Dialog-smoke-default-light-chromium-linux.png
  src/components/Dialog/__snapshots__/Dialog.visual.test.tsx-snapshots/Dialog-smoke-footerLoading-true-light-chromium-linux.png
  src/components/Dialog/__snapshots__/Dialog.visual.test.tsx-snapshots/Dialog-smoke-footerPreset-danger-light-chromium-linux.png
  src/components/Dialog/__snapshots__/Dialog.visual.test.tsx-snapshots/Dialog-smoke-footerPreset-default-light-chromium-linux.png
  src/components/Dialog/__snapshots__/Dialog.visual.test.tsx-snapshots/Dialog-smoke-footerPreset-success-light-chromium-linux.png
  src/components/Dialog/__snapshots__/Dialog.visual.test.tsx-snapshots/Dialog-smoke-footerShowError-true-light-chromium-linux.png
  src/components/Dialog/__snapshots__/Dialog.visual.test.tsx-snapshots/Dialog-smoke-footerTextButtonApply-Custom-button-apply-light-chromium-linux.png
  src/components/Dialog/__snapshots__/Dialog.visual.test.tsx-snapshots/Dialog-smoke-footerTextButtonCancel-Custom-button-cancel-light-chromium-linux.png
  src/components/Dialog/__snapshots__/Dialog.visual.test.tsx-snapshots/Dialog-smoke-headerCaption-long-light-chromium-linux.png
  src/components/Dialog/__snapshots__/Dialog.visual.test.tsx-snapshots/Dialog-smoke-headerInsertAfter-true-light-chromium-linux.png
  src/components/Dialog/__snapshots__/Dialog.visual.test.tsx-snapshots/Dialog-smoke-headerInsertBefore-true-light-chromium-linux.png
  src/components/Dialog/__snapshots__/Dialog.visual.test.tsx-snapshots/Dialog-smoke-size-l-light-chromium-linux.png
  src/components/Dialog/__snapshots__/Dialog.visual.test.tsx-snapshots/Dialog-smoke-size-m-light-chromium-linux.png
  src/components/Dialog/__snapshots__/Dialog.visual.test.tsx-snapshots/Dialog-smoke-size-s-light-chromium-linux.png
  src/components/Dialog/__tests__/Dialog.visual.test.tsx
  src/components/Dialog/__tests__/cases.tsx
Labels: visual tests

#1790 test(Tooltip): add smoke visual tests
  src/components/Tooltip/__snapshots__/Tooltip.visual.test.tsx-snapshots/Tooltip-smoke-default-light-chromium-linux.png
  src/components/Tooltip/__snapshots__/Tooltip.visual.test.tsx-snapshots/Tooltip-smoke-placement-auto-end-light-chromium-linux.png
  src/components/Tooltip/__snapshots__/Tooltip.visual.test.tsx-snapshots/Tooltip-smoke-placement-auto-light-chromium-linux.png
  src/components/Tooltip/__snapshots__/Tooltip.visual.test.tsx-snapshots/Tooltip-smoke-placement-auto-start-light-chromium-linux.png
  src/components/Tooltip/__snapshots__/Tooltip.visual.test.tsx-snapshots/Tooltip-smoke-placement-bottom-end-light-chromium-linux.png
  src/components/Tooltip/__snapshots__/Tooltip.visual.test.tsx-snapshots/Tooltip-smoke-placement-bottom-light-chromium-linux.png
  src/components/Tooltip/__snapshots__/Tooltip.visual.test.tsx-snapshots/Tooltip-smoke-placement-bottom-start-light-chromium-linux.png
  src/components/Tooltip/__snapshots__/Tooltip.visual.test.tsx-snapshots/Tooltip-smoke-placement-left-end-light-chromium-linux.png
  src/components/Tooltip/__snapshots__/Tooltip.visual.test.tsx-snapshots/Tooltip-smoke-placement-left-light-chromium-linux.png
  src/components/Tooltip/__snapshots__/Tooltip.visual.test.tsx-snapshots/Tooltip-smoke-placement-left-start-light-chromium-linux.png
  src/components/Tooltip/__snapshots__/Tooltip.visual.test.tsx-snapshots/Tooltip-smoke-placement-right-end-light-chromium-linux.png
  src/components/Tooltip/__snapshots__/Tooltip.visual.test.tsx-snapshots/Tooltip-smoke-placement-right-light-chromium-linux.png
  src/components/Tooltip/__snapshots__/Tooltip.visual.test.tsx-snapshots/Tooltip-smoke-placement-right-start-light-chromium-linux.png
  src/components/Tooltip/__snapshots__/Tooltip.visual.test.tsx-snapshots/Tooltip-smoke-placement-top-end-light-chromium-linux.png
  src/components/Tooltip/__snapshots__/Tooltip.visual.test.tsx-snapshots/Tooltip-smoke-placement-top-light-chromium-linux.png
  src/components/Tooltip/__snapshots__/Tooltip.visual.test.tsx-snapshots/Tooltip-smoke-placement-top-start-light-chromium-linux.png
  src/components/Tooltip/__tests__/Tooltip.visual.test.tsx
  src/components/Tooltip/__tests__/cases.tsx
  src/components/Tooltip/__tests__/constants.ts
  src/components/Tooltip/__tests__/helpers.tsx
Labels: visual tests

#1786 test(Popup): add smoke visual tests
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-default-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-offset-4-12-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-default-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-placement-auto-end-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-placement-auto-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-placement-auto-start-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-placement-bottom-end-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-placement-bottom-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-placement-bottom-start-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-placement-left-end-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-placement-left-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-placement-left-start-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-placement-right-end-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-placement-right-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-placement-right-start-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-placement-top-end-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-placement-top-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-placement-top-start-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-with-arrow-default-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-with-arrow-placement-auto-end-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-with-arrow-placement-auto-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-with-arrow-placement-auto-start-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-with-arrow-placement-bottom-end-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-with-arrow-placement-bottom-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-with-arrow-placement-bottom-start-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-with-arrow-placement-left-end-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-with-arrow-placement-left-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-with-arrow-placement-left-start-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-with-arrow-placement-right-end-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-with-arrow-placement-right-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-with-arrow-placement-right-start-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-with-arrow-placement-top-end-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-with-arrow-placement-top-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-placement-with-arrow-placement-top-start-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-strategy-absolute-light-chromium-linux.png
  src/components/Popup/__snapshots__/Popup.visual.test.tsx-snapshots/Popup-smoke-strategy-fixed-light-chromium-linux.png
  src/components/Popup/__tests__/Popup.visual.test.tsx
  src/components/Popup/__tests__/cases.tsx
  src/components/Popup/__tests__/constants.ts
  src/components/Popup/__tests__/helpers.tsx
Labels: visual tests

#1815 test(List): add smoke visual tests
  src/components/List/__snapshots__/List.visual.test.tsx-snapshots/List-smoke-custom-render-item-light-chromium-linux.png
  src/components/List/__snapshots__/List.visual.test.tsx-snapshots/List-smoke-empty-light-chromium-linux.png
  src/components/List/__snapshots__/List.visual.test.tsx-snapshots/List-smoke-light-chromium-linux.png
  src/components/List/__snapshots__/List.visual.test.tsx-snapshots/List-smoke-virtualized-light-chromium-linux.png
  src/components/List/__tests__/List.visual.test.tsx
  src/components/List/__tests__/cases.tsx
  src/components/List/__tests__/helpersPlaywright.tsx
Labels: visual tests

#1778 test(TextInput): add smoke visual tests
  src/components/controls/TextInput/__snapshots__/TextInput.visual.test.tsx-snapshots/TextInput-smoke-empty-light-chromium-linux.png
  src/components/controls/TextInput/__snapshots__/TextInput.visual.test.tsx-snapshots/TextInput-smoke-inside-error-placement-tooltip-light-chromium-linux.png
  src/components/controls/TextInput/__snapshots__/TextInput.visual.test.tsx-snapshots/TextInput-smoke-with-error-light-chromium-linux.png
  src/components/controls/TextInput/__snapshots__/TextInput.visual.test.tsx-snapshots/TextInput-smoke-with-value-light-chromium-linux.png
  src/components/controls/TextInput/__tests__/TextInput.visual.test.tsx
  src/components/controls/TextInput/__tests__/cases.tsx
Labels: visual tests

#1779 test(TextArea): add smoke visual tests
  src/components/controls/TextArea/__snapshots__/TextArea.visual.test.tsx-snapshots/TextArea-smoke-empty-light-chromium-linux.png
  src/components/controls/TextArea/__snapshots__/TextArea.visual.test.tsx-snapshots/TextArea-smoke-with-error-light-chromium-linux.png
  src/components/controls/TextArea/__snapshots__/TextArea.visual.test.tsx-snapshots/TextArea-smoke-with-value-light-chromium-linux.png
  src/components/controls/TextArea/__tests__/TextArea.visual.test.tsx
  src/components/controls/TextArea/__tests__/cases.tsx
Labels: visual tests

#2024 test(NumberInput): add smoke visual tests
  src/components/lab/NumberInput/__snapshots__/NumberInput.visual.test.tsx-snapshots/NumberInput-smoke-empty-light-chromium-linux.png
  src/components/lab/NumberInput/__snapshots__/NumberInput.visual.test.tsx-snapshots/NumberInput-smoke-inside-error-placement-tooltip-light-chromium-linux.png
  src/components/lab/NumberInput/__snapshots__/NumberInput.visual.test.tsx-snapshots/NumberInput-smoke-with-error-light-chromium-linux.png
  src/components/lab/NumberInput/__snapshots__/NumberInput.visual.test.tsx-snapshots/NumberInput-smoke-with-value-light-chromium-linux.png
  src/components/lab/NumberInput/__tests__/NumberInput.visual.test.tsx
  src/components/lab/NumberInput/__tests__/cases.tsx
Labels: visual tests

#2023 test(PasswordInput): add smoke visual tests
  src/components/controls/PasswordInput/PasswordInput.tsx
  src/components/controls/PasswordInput/__snapshots__/PasswordInput.visual.test.tsx-snapshots/PasswordInput-smoke-copy-button-tooltip-light-chromium-linux.png
  src/components/controls/PasswordInput/__snapshots__/PasswordInput.visual.test.tsx-snapshots/PasswordInput-smoke-empty-light-chromium-linux.png
  src/components/controls/PasswordInput/__snapshots__/PasswordInput.visual.test.tsx-snapshots/PasswordInput-smoke-inside-error-placement-tooltip-light-chromium-linux.png
  src/components/controls/PasswordInput/__snapshots__/PasswordInput.visual.test.tsx-snapshots/PasswordInput-smoke-light-chromium-linux.png
  src/components/controls/PasswordInput/__snapshots__/PasswordInput.visual.test.tsx-snapshots/PasswordInput-smoke-reveal-button-tooltip-light-chromium-linux.png
  src/components/controls/PasswordInput/__snapshots__/PasswordInput.visual.test.tsx-snapshots/PasswordInput-smoke-with-error-light-chromium-linux.png
  src/components/controls/PasswordInput/__tests__/PasswordInput.visual.test.tsx
  src/components/controls/PasswordInput/__tests__/cases.tsx
  src/components/controls/PasswordInput/constants.ts
Labels: visual tests

#1814 test(PinInput): add smoke visual tests
  src/components/PinInput/__snapshots__/PinInput.visual.test.tsx-snapshots/PinInput-smoke-alphabetic-light-chromium-linux.png
  src/components/PinInput/__snapshots__/PinInput.visual.test.tsx-snapshots/PinInput-smoke-empty-light-chromium-linux.png
  src/components/PinInput/__snapshots__/PinInput.visual.test.tsx-snapshots/PinInput-smoke-number-light-chromium-linux.png
  src/components/PinInput/__tests__/PinInput.visual.test.tsx
  src/components/PinInput/__tests__/cases.tsx
Labels: visual tests

#2025 test(HelpMark): add visual test
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-render-story-Default-dark-chromium-linux.png
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-render-story-Default-light-chromium-linux.png
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-smoke-default-light-chromium-linux.png
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-smoke-placement-auto-end-light-chromium-linux.png
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-smoke-placement-auto-light-chromium-linux.png
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-smoke-placement-auto-start-light-chromium-linux.png
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-smoke-placement-bottom-end-light-chromium-linux.png
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-smoke-placement-bottom-light-chromium-linux.png
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-smoke-placement-bottom-start-light-chromium-linux.png
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-smoke-placement-left-end-light-chromium-linux.png
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-smoke-placement-left-light-chromium-linux.png
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-smoke-placement-left-start-light-chromium-linux.png
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-smoke-placement-right-end-light-chromium-linux.png
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-smoke-placement-right-light-chromium-linux.png
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-smoke-placement-right-start-light-chromium-linux.png
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-smoke-placement-top-end-light-chromium-linux.png
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-smoke-placement-top-light-chromium-linux.png
  src/components/HelpMark/__snapshots__/HelpMark.visual.test.tsx-snapshots/HelpMark-smoke-placement-top-start-light-chromium-linux.png
  src/components/HelpMark/__tests__/HelpMark.visual.test.tsx
  src/components/HelpMark/__tests__/cases.ts
  src/components/HelpMark/__tests__/stories.ts
Labels: visual tests

#2028 test(DefinitionList): add smoke visual tests
  src/components/DefinitionList/__snapshots__/DefinitionList.visual.test.tsx-snapshots/DefinitionList-render-story-Default-dark-chromium-linux.png
  src/components/DefinitionList/__snapshots__/DefinitionList.visual.test.tsx-snapshots/DefinitionList-render-story-Default-light-chromium-linux.png
  src/components/DefinitionList/__snapshots__/DefinitionList.visual.test.tsx-snapshots/DefinitionList-smoke-default-light-chromium-linux.png
  src/components/DefinitionList/__snapshots__/DefinitionList.visual.test.tsx-snapshots/DefinitionList-smoke-direction-horizontal-light-chromium-linux.png
  src/components/DefinitionList/__snapshots__/DefinitionList.visual.test.tsx-snapshots/DefinitionList-smoke-direction-vertical-light-chromium-linux.png
  src/components/DefinitionList/__snapshots__/DefinitionList.visual.test.tsx-snapshots/DefinitionList-smoke-responsive-contentMaxWidth-100-light-chromium-linux.png
  src/components/DefinitionList/__snapshots__/DefinitionList.visual.test.tsx-snapshots/DefinitionList-smoke-responsive-default-light-chromium-linux.png
  src/components/DefinitionList/__snapshots__/DefinitionList.visual.test.tsx-snapshots/DefinitionList-smoke-responsive-nameMaxWidth-100-light-chromium-linux.png
  src/components/DefinitionList/__tests__/DefinitionList.visual.test.tsx
  src/components/DefinitionList/__tests__/stories.ts
Labels: visual tests

#1808 test(Loader): add smoke visual tests
  src/components/Loader/__snapshots__/Loader.visual.test.tsx-snapshots/Loader-smoke-dark-chromium-linux.png
  src/components/Loader/__snapshots__/Loader.visual.test.tsx-snapshots/Loader-smoke-light-chromium-linux.png
  src/components/Loader/__tests__/Loader.visual.test.tsx
  src/components/Loader/__tests__/cases.tsx
Labels: visual tests

#1801 test(Skeleton): add smoke visual tests
  src/components/Skeleton/__snapshots__/Skeleton.visual.test.tsx-snapshots/Skeleton-smoke-dark-chromium-linux.png
  src/components/Skeleton/__snapshots__/Skeleton.visual.test.tsx-snapshots/Skeleton-smoke-light-chromium-linux.png
  src/components/Skeleton/__tests__/Skeleton.visual.test.tsx
Labels: visual tests

#1800 test(Spin): add smoke visual tests
  src/components/Spin/__snapshots__/Spin.visual.test.tsx-snapshots/Spin-smoke-dark-chromium-linux.png
  src/components/Spin/__snapshots__/Spin.visual.test.tsx-snapshots/Spin-smoke-light-chromium-linux.png
  src/components/Spin/__tests__/Spin.visual.test.tsx
  src/components/Spin/__tests__/cases.tsx
Labels: visual tests

#2027 test(ActionsPanel): add visual tests
  src/components/ActionsPanel/__snapshots__/ActionsPanel.visual.test.tsx-snapshots/ActionsPanel-smoke-group-light-chromium-linux.png
  src/components/ActionsPanel/__snapshots__/ActionsPanel.visual.test.tsx-snapshots/ActionsPanel-smoke-group-opened-light-chromium-linux.png
  src/components/ActionsPanel/__snapshots__/ActionsPanel.visual.test.tsx-snapshots/ActionsPanel-smoke-light-chromium-linux.png
  src/components/ActionsPanel/__snapshots__/ActionsPanel.visual.test.tsx-snapshots/ActionsPanel-smoke-with-note-light-chromium-linux.png
  src/components/ActionsPanel/__snapshots__/ActionsPanel.visual.test.tsx-snapshots/ActionsPanel-smoke-with-submenu-light-chromium-linux.png
  src/components/ActionsPanel/__snapshots__/ActionsPanel.visual.test.tsx-snapshots/ActionsPanel-smoke-with-submenu-opened-submenu-light-chromium-linux.png
  src/components/ActionsPanel/__tests__/ActionsPanel.visual.test.tsx
  src/components/ActionsPanel/__tests__/helpersPlaywright.tsx
Labels: visual tests

#2029 test(PlaceholderContainer): add smoke visual tests
  src/components/PlaceholderContainer/__snapshots__/PlaceholderContainer.visual.test.tsx-snapshots/PlaceholderContainer-render-story-Actions-dark-chromium-linux.png
  src/components/PlaceholderContainer/__snapshots__/PlaceholderContainer.visual.test.tsx-snapshots/PlaceholderContainer-render-story-Actions-light-chromium-linux.png
  src/components/PlaceholderContainer/__snapshots__/PlaceholderContainer.visual.test.tsx-snapshots/PlaceholderContainer-render-story-Align-dark-chromium-linux.png
  src/components/PlaceholderContainer/__snapshots__/PlaceholderContainer.visual.test.tsx-snapshots/PlaceholderContainer-render-story-Align-light-chromium-linux.png
  src/components/PlaceholderContainer/__snapshots__/PlaceholderContainer.visual.test.tsx-snapshots/PlaceholderContainer-render-story-Default-dark-chromium-linux.png
  src/components/PlaceholderContainer/__snapshots__/PlaceholderContainer.visual.test.tsx-snapshots/PlaceholderContainer-render-story-Default-light-chromium-linux.png
  src/components/PlaceholderContainer/__snapshots__/PlaceholderContainer.visual.test.tsx-snapshots/PlaceholderContainer-render-story-Direction-dark-chromium-linux.png
  src/components/PlaceholderContainer/__snapshots__/PlaceholderContainer.visual.test.tsx-snapshots/PlaceholderContainer-render-story-Direction-light-chromium-linux.png
  src/components/PlaceholderContainer/__snapshots__/PlaceholderContainer.visual.test.tsx-snapshots/PlaceholderContainer-render-story-Size-dark-chromium-linux.png
  src/components/PlaceholderContainer/__snapshots__/PlaceholderContainer.visual.test.tsx-snapshots/PlaceholderContainer-render-story-Size-light-chromium-linux.png
  src/components/PlaceholderContainer/__snapshots__/PlaceholderContainer.visual.test.tsx-snapshots/PlaceholderContainer-smoke-light-chromium-linux.png
  src/components/PlaceholderContainer/__tests__/PlaceholderContainer.visual.test.tsx
  src/components/PlaceholderContainer/__tests__/cases.tsx
  src/components/PlaceholderContainer/__tests__/helpersPlaywright.tsx
Labels: visual tests

#1819 test(Bradcrumbs): add smoke visual tests
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-custom-icons-default-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-custom-icons-disabled-true-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-custom-separator-default-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-custom-separator-disabled-true-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-link-items-default-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-link-items-disabled-true-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-text-items-default-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-text-items-popupPlacement-auto-end-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-text-items-popupPlacement-auto-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-text-items-popupPlacement-auto-start-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-text-items-popupPlacement-bottom-end-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-text-items-popupPlacement-bottom-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-text-items-popupPlacement-bottom-start-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-text-items-popupPlacement-left-end-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-text-items-popupPlacement-left-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-text-items-popupPlacement-left-start-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-text-items-popupPlacement-right-end-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-text-items-popupPlacement-right-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-text-items-popupPlacement-right-start-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-text-items-popupPlacement-top-end-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-text-items-popupPlacement-top-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__snapshots__/Breadcrumbs.visual.test.tsx-snapshots/Breadcrumbs-smoke-with-text-items-popupPlacement-top-start-light-chromium-linux.png
  src/components/lab/Breadcrumbs/__tests__/Breadcrumbs.visual.test.tsx
  src/components/lab/Breadcrumbs/__tests__/cases.ts
  src/components/lab/Breadcrumbs/__tests__/helpersPlaywright.tsx
Labels: visual tests
