Repository gravity-ui/uikit, pull requests merged in 2024-11, with the labels that each got.

#1742 feat(RadioButton): redesign to increase contrast in component
  src/components/RadioButton/RadioButton.scss
  src/components/RadioButton/RadioButton.tsx
  src/components/RadioButton/RadioButtonOption.tsx
  src/components/RadioButton/__stories__/RadioButtonShowcase.tsx
Labels: breaking change, component: RadioButton

#1932 feat(styles)!: change monospace fonts order
  styles/themes/common/typography.scss
Labels: breaking change

#1896 feat(Select): new label and value resize behaviour
  src/components/Select/__snapshots__/Select.visual.test.tsx-snapshots/Select-control-with-parent-flex-basis-0-dark-chromium-linux.png
  src/components/Select/__snapshots__/Select.visual.test.tsx-snapshots/Select-control-with-parent-flex-basis-0-dark-webkit-linux.png
  src/components/Select/__snapshots__/Select.visual.test.tsx-snapshots/Select-control-with-parent-flex-basis-0-light-chromium-linux.png
  src/components/Select/__snapshots__/Select.visual.test.tsx-snapshots/Select-control-with-parent-flex-basis-0-light-webkit-linux.png
  src/components/Select/__tests__/Select.visual.test.tsx
  src/components/Select/components/SelectControl/SelectControl.scss
Labels: enhancement, component: Select, UXRFC
