Repository gravity-ui/uikit, pull requests merged in 2024-09, with the labels that each got.

#1827 feat(Popup): add aria-modal prop
  src/components/Popup/Popup.tsx
  src/components/Popup/README.md
  src/components/Popup/__tests__/Popup.test.tsx
Labels: component: Popup, a11y

#1765 chore: add utility function to detect touch screen
  src/index.ts
  src/utils/dom.ts
Labels: mobile, UXRFC

#1743 feat(withTableSelection): add indeterminate state
  src/components/Table/hoc/withTableSelection/withTableSelection.tsx
Labels: enhancement, component: Table, UXRFC

#1744 feat(Slider): redesign API to make more usable
  package-lock.json
  package.json
  src/components/Slider/BaseSlider/BaseSlider.scss
  src/components/Slider/HandleWithTooltip/HandleWithTooltip.tsx
  src/components/Slider/README.md
  src/components/Slider/Slider.scss
  src/components/Slider/Slider.tsx
  src/components/Slider/SliderTooltip/SliderTooltip.scss
  src/components/Slider/SliderTooltip/SliderTooltip.tsx
  src/components/Slider/__stories__/SliderShowcase.tsx
  src/components/Slider/types.ts
  src/components/Slider/utils.ts
Labels: enhancement, component: Slider, UXRFC
