Repository gravity-ui/uikit, changes with the owners that CODEOWNERS names for each.
All owners: @amje, @ValeraS, @korvin89, @Marginy605, @vrozaev, @Lunory, @Volodomor, @axtk, @d3m1d0v, @goshander, @LakeVostok, @SeqviriouM, @DaffPunks, @kseniya57, @mfyodorov, @DarkGenius, @krozhkov, @sofiushko, @IsaevAlexandr, @ogonkov, @resure, @jhoncool

feat(TextInput, TextArea): update props, add an option to display error via tooltip for TextInput
  src/components/controls/TextArea/TextArea.tsx
  src/components/controls/TextArea/__stories__/TextAreaShowcase.tsx
  src/components/controls/TextArea/__tests__/TextArea.test.tsx
  src/components/controls/TextInput/TextInput.scss
  src/components/controls/TextInput/TextInput.tsx
  src/components/controls/TextInput/__stories__/TextInputShowcase.scss
  src/components/controls/TextInput/__stories__/TextInputShowcase.tsx
  src/components/controls/TextInput/__tests__/TextInput.input.test.tsx
  src/components/controls/types.ts
  src/components/controls/utils.ts
Owners: @amje, @ValeraS, @korvin89

feat(TextInput, TextArea): add an option to display error via tooltip for TextInput
  src/components/controls/types.ts
  src/components/controls/utils.ts
Owners: @amje, @ValeraS, @korvin89

fix: fix color palette
  styles/themes/dark-hc/base.scss
  styles/themes/dark-hc/text.scss
  styles/themes/dark/text.scss
  styles/themes/light-hc/base.scss
  styles/themes/light-hc/text.scss
  styles/themes/light/text.scss
Owners: @amje, @ValeraS, @korvin89

fix: fix color palette (#823)
  styles/themes/dark-hc/base.scss
  styles/themes/dark-hc/text.scss
  styles/themes/dark/text.scss
  styles/themes/light-hc/base.scss
  styles/themes/light-hc/text.scss
  styles/themes/light/text.scss
Owners: @amje, @ValeraS, @korvin89

chore(main): release 5.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @amje, @ValeraS, @korvin89

chore(main): release 5.0.1 (#824)
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @amje, @ValeraS, @korvin89

fix: do not prevent action if handler is not set
  src/components/utils/useActionHandlers.ts
Owners: @amje, @ValeraS, @korvin89

chore: disable a11y handlers rule for tests
  .eslintrc
Owners: @amje, @ValeraS, @korvin89

fix: do not prevent event
  src/components/Card/__tests__/Card.test.tsx
  src/components/utils/useActionHandlers.ts
Owners: @Lunory, @amje, @ValeraS, @korvin89

revert: test
  src/components/Card/__tests__/Card.test.tsx
Owners: @Lunory

test: add
  src/components/Card/__tests__/Card.test.tsx
Owners: @Lunory

fix: do not add keyboard handler
  src/components/Card/Card.tsx
Owners: @Lunory

refactor: remove return value
  src/components/utils/useActionHandlers.ts
Owners: @amje, @ValeraS, @korvin89

fix(Card): prevent keyboard handler form abort (#825)
  .eslintrc
  src/components/Card/Card.tsx
  src/components/Card/__tests__/Card.test.tsx
  src/components/utils/useActionHandlers.ts
Owners: @amje, @ValeraS, @korvin89, @Lunory

chore(main): release 5.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @amje, @ValeraS, @korvin89

chore(main): release 5.0.2 (#827)
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @amje, @ValeraS, @korvin89

fix(Table): remove redundant height with enabled sorting
  src/components/Table/hoc/withTableSorting/withTableSorting.scss
Owners: @krozhkov

fix(Card): prevent keyboard handler form abort (#825)
  .eslintrc
  src/components/Card/Card.tsx
  src/components/Card/__tests__/Card.test.tsx
  src/components/utils/useActionHandlers.ts
Owners: @amje, @ValeraS, @korvin89, @Lunory

fix(Card): prevent keyboard handler form abort (#829)
  .eslintrc
  src/components/Card/Card.tsx
  src/components/Card/__tests__/Card.test.tsx
  src/components/utils/useActionHandlers.ts
Owners: @amje, @ValeraS, @korvin89, @Lunory

feat(LayerManager): export getLayersCount
  src/components/index.ts
  src/components/utils/LayerManager.ts
Owners: @amje, @ValeraS, @korvin89

4.24.2
  package-lock.json
  package.json
Owners: none

fix(Table): remove redundant height with enabled sorting (#826)
  src/components/Table/hoc/withTableSorting/withTableSorting.scss
Owners: @krozhkov

fix(TextInput, TextArea): update types and tests, add new constants and css-variable
  src/components/controls/TextArea/TextArea.tsx
  src/components/controls/TextArea/__tests__/TextArea.test.tsx
  src/components/controls/TextInput/TextInput.scss
  src/components/controls/TextInput/TextInput.tsx
  src/components/controls/TextInput/__tests__/TextInput.input.test.tsx
  src/components/controls/utils.ts
Owners: @amje, @ValeraS, @korvin89

feat(LayerManager): export getLayersCount (#830)
  src/components/index.ts
  src/components/utils/LayerManager.ts
Owners: @amje, @ValeraS, @korvin89

chore(main): release 5.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @amje, @ValeraS, @korvin89

chore(main): release 5.1.0 (#833)
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @amje, @ValeraS, @korvin89

fix(TextInput, TextArea): update tests
  src/components/controls/TextArea/TextArea.tsx
  src/components/controls/TextArea/__tests__/TextArea.test.tsx
  src/components/controls/TextInput/TextInput.tsx
  src/components/controls/TextInput/__tests__/TextInput.input.test.tsx
  src/components/controls/utils.ts
Owners: @amje, @ValeraS, @korvin89

feat: export hook useActionHandlers
  src/components/index.ts
Owners: @amje, @ValeraS, @korvin89

chore: add IndexType.Single
  src/components/Stories/Stories.tsx
  src/components/Stories/components/StoriesLayout/StoriesLayout.tsx
  src/components/StoriesGroup/StoriesGroup.tsx
Owners: @DarkGenius, @amje, @ValeraS, @korvin89

Stories layout fix (#837)
  src/components/Stories/Stories.tsx
  src/components/Stories/components/StoriesLayout/StoriesLayout.tsx
  src/components/StoriesGroup/StoriesGroup.tsx
Owners: @DarkGenius, @amje, @ValeraS, @korvin89

4.24.3
  package-lock.json
  package.json
Owners: none

fix: add menu-item-content-children class name
  src/components/DropdownMenu/DropdownMenu.scss
  src/components/DropdownMenu/DropdownMenuItem.tsx
Owners: @axtk

fix: add menu-item-content-children class name
  src/components/DropdownMenu/DropdownMenu.scss
  src/components/DropdownMenu/DropdownMenuItem.tsx
Owners: @axtk

fix: add menu-item-content-children class name (#838)
  src/components/DropdownMenu/DropdownMenu.scss
  src/components/DropdownMenu/DropdownMenuItem.tsx
Owners: @axtk

fix: add menu-item-content-children class name (#839)
  src/components/DropdownMenu/DropdownMenu.scss
  src/components/DropdownMenu/DropdownMenuItem.tsx
Owners: @axtk

4.25.0
  package-lock.json
  package.json
Owners: none

TextInput: Add optional “afterClear” callback to invoke it after clear button handler
  src/components/controls/TextInput/TextInput.tsx
Owners: @amje, @ValeraS, @korvin89

feat: add floating ui, resolve errors and add base for logic
  package-lock.json
  package.json
  src/components/Popup/Popup.tsx
  src/components/Popup/PopupArrow.tsx
  src/components/Popup/__stories__/Popup.stories.tsx
  src/components/utils/usePopper.ts
  src/components/utils/useVirtualElementRef.ts
Owners: @amje, @ValeraS, @korvin89

feat: ensure anchoring with auto update, remove logging and add custom type for state
  src/components/Popup/Popup.tsx
  src/components/Popup/__stories__/Popup.stories.tsx
  src/components/utils/usePopper.ts
Owners: @amje, @ValeraS, @korvin89

fix: set properly QA attributes names
  src/components/Menu/MenuItem.tsx
Owners: @amje, @ValeraS, @korvin89

CODEOWNERS:

* @amje @ValeraS @korvin89
/src/components/ArrowToggle @Marginy605
/src/components/Breadcrumbs @vrozaev
/src/components/Button @amje
/src/components/Card @Lunory
#/src/components/Checkbox
#/src/components/ClipboardButton @damask
#/src/components/ClipboardIcon @damask
#/src/components/CopyToClipboard @damask
/src/components/Dialog @Volodomor
/src/components/DropdownMenu @axtk
/src/components/Hotkey @d3m1d0v
/src/components/Icon @amje
/src/components/Label @goshander
/src/components/Link @LakeVostok
/src/components/List @korvin89
/src/components/Loader @SeqviriouM
/src/components/Modal @amje
/src/components/Persona @DaffPunks
/src/components/Popover @kseniya57
/src/components/Popup @amje
/src/components/Portal @amje
/src/components/Progress @mfyodorov
/src/components/Select @korvin89
/src/components/Sheet @korvin89
/src/components/Skeleton @amje
/src/components/Stories @DarkGenius
#/src/components/Switch @trabemz
/src/components/Table @krozhkov
/src/components/Tabs @sofiushko
/src/components/Text @IsaevAlexandr
#/src/components/TextInput @dustyo-O
/src/components/Toaster @ogonkov
/src/components/theme @resure
/src/components/Pagination @jhoncool
# Allow everyone to update dependencies
/package.json
/package-lock.json
