Repository gravity-ui/uikit, changes with the owners that CODEOWNERS names for each.
All owners: @amje, @ValeraS, @korvin89, @Marginy605, @vrozaev, @Lunory, @Volodomor, @axtk, @d3m1d0v, @goshander, @LakeVostok, @SeqviriouM, @DaffPunks, @kseniya57, @mfyodorov, @DarkGenius, @krozhkov, @sofiushko, @IsaevAlexandr, @ogonkov, @resure, @jhoncool

CODEOWNERS:

* @amje @ValeraS @korvin89
/src/components/ArrowToggle @Marginy605
/src/components/Breadcrumbs @vrozaev
/src/components/Button @amje
/src/components/Card @Lunory
#/src/components/Checkbox
#/src/components/ClipboardButton @damask
#/src/components/ClipboardIcon @damask
#/src/components/CopyToClipboard @damask
/src/components/Dialog @Volodomor
/src/components/DropdownMenu @axtk
/src/components/Hotkey @d3m1d0v
/src/components/Icon @amje
/src/components/Label @goshander
/src/components/Link @LakeVostok
/src/components/List @korvin89
/src/components/Loader @SeqviriouM
/src/components/Modal @amje
/src/components/Persona @DaffPunks
/src/components/Popover @kseniya57
/src/components/Popup @amje
/src/components/Portal @amje
/src/components/Progress @mfyodorov
/src/components/Select @korvin89
/src/components/Sheet @korvin89
/src/components/Skeleton @amje
/src/components/Stories @DarkGenius
#/src/components/Switch @trabemz
/src/components/Table @krozhkov
/src/components/Tabs @sofiushko
/src/components/Text @IsaevAlexandr
#/src/components/TextInput @dustyo-O
/src/components/Toaster @ogonkov
/src/components/theme @resure
/src/components/Pagination @jhoncool
# Allow everyone to update dependencies
/package.json
/package-lock.json

fix(Disclosure): readme (#852)
  src/components/Disclosure/README.md
Owners: @amje, @ValeraS, @korvin89

fix: fix icon example size
  src/components/Label/__stories__/examples/LabelExampleView/LabelExampleView.tsx
Owners: @goshander

fix(Label): actions icon size fix (#851)
  src/components/Label/Label.tsx
  src/components/Label/__stories__/LabelShowcase.tsx
  src/components/Label/__stories__/examples/LabelExampleView/LabelExampleView.tsx
Owners: @goshander

feat(Select.SelectPopup): add new width modes
  src/components/Select/components/SelectPopup/SelectPopup.scss
  src/components/Select/components/SelectPopup/modifiers.ts
  src/components/Select/components/SelectPopup/types.ts
  src/components/Select/constants.ts
  src/components/Select/types.ts
Owners: @korvin89

feat(Select.SelectPopup): add showcases
  src/components/Select/__stories__/Select.stories.tsx
  src/components/Select/__stories__/SelectPopupWidthShowcase.tsx
  src/components/Select/__stories__/SelectShowcase.scss
Owners: @korvin89
