Repository gravity-ui/uikit, changes with the owners that CODEOWNERS names for each.
All owners: @amje, @ValeraS, @korvin89, @Marginy605, @vrozaev, @Lunory, @Volodomor, @axtk, @d3m1d0v, @goshander, @LakeVostok, @SeqviriouM, @DaffPunks, @kseniya57, @mfyodorov, @DarkGenius, @krozhkov, @sofiushko, @IsaevAlexandr, @ogonkov, @resure, @jhoncool

CODEOWNERS:

* @amje @ValeraS @korvin89
/src/components/ArrowToggle @Marginy605
/src/components/Breadcrumbs @vrozaev
/src/components/Button @amje
/src/components/Card @Lunory
#/src/components/Checkbox
#/src/components/ClipboardButton @damask
#/src/components/ClipboardIcon @damask
#/src/components/CopyToClipboard @damask
/src/components/Dialog @Volodomor
/src/components/DropdownMenu @axtk
/src/components/Hotkey @d3m1d0v
/src/components/Icon @amje
/src/components/Label @goshander
/src/components/Link @LakeVostok
/src/components/List @korvin89
/src/components/Loader @SeqviriouM
/src/components/Modal @amje
/src/components/Persona @DaffPunks
/src/components/Popover @kseniya57
/src/components/Popup @amje
/src/components/Portal @amje
/src/components/Progress @mfyodorov
/src/components/Select @korvin89
/src/components/Sheet @korvin89
/src/components/Skeleton @amje
/src/components/Stories @DarkGenius
#/src/components/Switch @trabemz
/src/components/Table @krozhkov
/src/components/Tabs @sofiushko
/src/components/Text @IsaevAlexandr
#/src/components/TextInput @dustyo-O
/src/components/Toaster @ogonkov
/src/components/theme @resure
/src/components/Pagination @jhoncool
# Allow everyone to update dependencies
/package.json
/package-lock.json

feat: rename optional “afterClear” → “onClear” at TextInput, add “onClear” to TextArea See https://github.com/gravity-ui/uikit/pull/841#issuecomment-1650405557
  src/components/controls/TextArea/TextArea.tsx
  src/components/controls/TextArea/__tests__/TextArea.test.tsx
  src/components/controls/TextInput/TextInput.tsx
  src/components/controls/TextInput/__tests__/TextInput.input.test.tsx
Owners: @amje, @ValeraS, @korvin89

feat: add interactions, remove commented code
  src/components/Popup/Popup.tsx
  src/components/utils/usePopper.ts
Owners: @amje, @ValeraS, @korvin89

fix: add missed description for “onClear” prop at TextInput add TextArea See https://github.com/gravity-ui/uikit/pull/841#pullrequestreview-1548401776
  src/components/controls/TextArea/README.md
  src/components/controls/TextInput/README.md
Owners: @amje, @ValeraS, @korvin89

feat(utils.Select): add loading indicator
  src/components/Select/Select.tsx
  src/components/Select/components/SelectList/SelectList.tsx
  src/components/Select/components/SelectLoadingIndicator/SelectLoadingIndicator.scss
  src/components/Select/components/SelectLoadingIndicator/SelectLoadingIndicator.tsx
  src/components/Select/types.ts
Owners: @korvin89

refactor(Select.SelectLoadingIndicator): remove unnecessary prop
  src/components/Select/components/SelectLoadingIndicator/SelectLoadingIndicator.tsx
Owners: @korvin89

refactor(Select.SelectLoadingIndicator): move to SelectList folder
  src/components/Select/components/SelectList/SelectList.scss
  src/components/Select/components/SelectList/SelectLoadingIndicator.tsx
  src/components/Select/components/SelectLoadingIndicator/SelectLoadingIndicator.scss
Owners: @korvin89

refactor(Select.SelectList): use more uniq id for loading item
  src/components/Select/components/SelectList/SelectList.tsx
Owners: @korvin89

fix(Select.SelectList): import
  src/components/Select/components/SelectList/SelectList.tsx
Owners: @korvin89

chore: remove redundant logic and add state arrow reference
  src/components/Popup/Popup.tsx
  src/components/Popup/PopupArrow.tsx
  src/components/utils/usePopper.ts
Owners: @amje, @ValeraS, @korvin89

fix(Select): update README
  src/components/Select/README.md
Owners: @korvin89

feat(Select): loading indicator (#761)
  src/components/Select/README.md
  src/components/Select/Select.tsx
  src/components/Select/components/SelectList/SelectList.scss
  src/components/Select/components/SelectList/SelectList.tsx
  src/components/Select/components/SelectList/SelectLoadingIndicator.tsx
  src/components/Select/types.ts
Owners: @korvin89

feat(Select): loading indicator (#761)
  src/components/Select/README.md
  src/components/Select/Select.tsx
  src/components/Select/components/SelectList/SelectList.scss
  src/components/Select/components/SelectList/SelectList.tsx
  src/components/Select/components/SelectList/SelectLoadingIndicator.tsx
  src/components/Select/types.ts
Owners: @korvin89

feat: add placemenet data for css transition
  src/components/Popup/Popup.scss
  src/components/Popup/Popup.tsx
Owners: @amje

fix(Select): types
  src/components/Select/types.ts
Owners: @korvin89

feat(Select): loading indicator (#845)
  src/components/Select/README.md
  src/components/Select/Select.tsx
  src/components/Select/components/SelectList/SelectList.scss
  src/components/Select/components/SelectList/SelectList.tsx
  src/components/Select/components/SelectList/SelectLoadingIndicator.tsx
  src/components/Select/types.ts
Owners: @korvin89

4.26.0
  package-lock.json
  package.json
Owners: none

feat: add transition styling
  src/components/Popup/Popup.scss
  src/components/Popup/Popup.tsx
  src/components/utils/usePopper.ts
Owners: @amje, @ValeraS, @korvin89

chore: remove redundant code
  src/components/Popup/Popup.scss
  src/components/Popup/Popup.tsx
Owners: @amje

feat: add default distance and change translate function for each side
  src/components/Popup/Popup.tsx
Owners: @amje

fix(Menu): set properly QA attributes names (#844)
  src/components/Menu/MenuItem.tsx
Owners: @amje, @ValeraS, @korvin89

feat(Toaster): added loading state to actions
  src/components/Toaster/README.md
  src/components/Toaster/Toast/Toast.tsx
  src/components/Toaster/ToastAction/ToastAction.tsx
  src/components/Toaster/__mocks__/getToast.ts
  src/components/Toaster/__tests__/ToasterProvider.test.tsx
  src/components/Toaster/types.ts
Owners: @ogonkov

feat(Select): selected values appearance
  src/components/Select/utils.tsx
Owners: @korvin89

test(Select.utils.getSelectedOptionsContent): add tests
  src/components/Select/__tests__/getSelectedOptionsContent.test.ts
Owners: @korvin89

feat: add sb toolbar
  .storybook/decorators/withLang.tsx
  .storybook/preview.tsx
  src/demo/DocsDecorator/DocsDecorator.tsx
Owners: @amje, @ValeraS, @korvin89

feat(Select): selected values appearance (#848)
  src/components/Select/__tests__/getSelectedOptionsContent.test.ts
  src/components/Select/utils.tsx
Owners: @korvin89

feat(Select): selected values appearance (#848)
  src/components/Select/__tests__/getSelectedOptionsContent.test.ts
  src/components/Select/utils.tsx
Owners: @korvin89

feat(Select): selected values appearance (#849)
  src/components/Select/__tests__/getSelectedOptionsContent.test.ts
  src/components/Select/utils.tsx
Owners: @korvin89

4.26.1
  package-lock.json
  package.json
Owners: none

fix: code-review
  src/components/Disclosure/Disclosure.scss
  src/components/Disclosure/Disclosure.tsx
  src/components/Disclosure/__stories__/Disclosure.stories.scss
  src/components/Disclosure/__stories__/Disclosure.stories.tsx
  src/components/Disclosure/index.ts
Owners: @amje, @ValeraS, @korvin89

fix: some fixes
  src/components/Disclosure/Disclosure.scss
  src/components/Disclosure/DisclosureSummary/DisclosureSummary.tsx
Owners: @amje, @ValeraS, @korvin89

fix: code-review
  src/components/Disclosure/Disclosure.scss
  src/components/Disclosure/Disclosure.tsx
  src/components/Disclosure/DisclosureContext.tsx
  src/components/Disclosure/DisclosureDetails/DisclosureDetails.tsx
  src/components/Disclosure/DisclosureSummary/DisclosureSummary.tsx
  src/components/Disclosure/__stories__/Disclosure.stories.tsx
  src/components/Disclosure/cn.ts
Owners: @amje, @ValeraS, @korvin89

feat: add Disclosure component
  src/components/Disclosure/Disclosure.scss
  src/components/Disclosure/Disclosure.tsx
  src/components/Disclosure/DisclosureContext.tsx
  src/components/Disclosure/DisclosureDetails/DisclosureDetails.tsx
  src/components/Disclosure/DisclosureSummary/DisclosureSummary.tsx
  src/components/Disclosure/__stories__/Disclosure.stories.scss
  src/components/Disclosure/__stories__/Disclosure.stories.tsx
  src/components/Disclosure/index.ts
Owners: @amje, @ValeraS, @korvin89

fix: code-review
  src/components/Disclosure/Disclosure.scss
  src/components/Disclosure/Disclosure.tsx
  src/components/Disclosure/DisclosureContext.tsx
  src/components/Disclosure/README.md
  src/components/Disclosure/__tests__/Disclosure .test.tsx
Owners: @amje, @ValeraS, @korvin89

fix: code-review
  src/components/Disclosure/Disclosure.tsx
  src/components/Disclosure/DisclosureContext.tsx
Owners: @amje, @ValeraS, @korvin89

feat: add readme and tests
  src/components/Disclosure/Disclosure.tsx
  src/components/Disclosure/DisclosureContext.tsx
  src/components/Disclosure/README.md
  src/components/Disclosure/__tests__/Disclosure .test.tsx
Owners: @amje, @ValeraS, @korvin89

feat: add Disclosure component (#796)
  src/components/Disclosure/Disclosure.scss
  src/components/Disclosure/Disclosure.tsx
  src/components/Disclosure/DisclosureContext.tsx
  src/components/Disclosure/DisclosureDetails/DisclosureDetails.tsx
  src/components/Disclosure/DisclosureSummary/DisclosureSummary.tsx
  src/components/Disclosure/README.md
  src/components/Disclosure/__stories__/Disclosure.stories.scss
  src/components/Disclosure/__stories__/Disclosure.stories.tsx
  src/components/Disclosure/__tests__/Disclosure .test.tsx
  src/components/Disclosure/cn.ts
  src/components/Disclosure/index.ts
Owners: @amje, @ValeraS, @korvin89

fix(Disclosure): readme
  src/components/Disclosure/README.md
Owners: @amje, @ValeraS, @korvin89

fix(Label): actions icon size fix
  src/components/Label/Label.tsx
Owners: @goshander

feat: handle offset and arrow
  src/components/Popup/Popup.tsx
  src/components/Popup/__stories__/Popup.stories.tsx
  src/components/utils/usePopper.ts
Owners: @amje, @ValeraS, @korvin89

fix: fix label showcase with icon size
  src/components/Label/__stories__/LabelShowcase.tsx
Owners: @goshander
