Repository gravity-ui/uikit, changes with the owners that CODEOWNERS names for each.
All owners: @amje, @ValeraS, @korvin89, @IsaevAlexandr, @Marginy605, @Lunory, @zamkovskaya, @Raubzeug, @SeqviriouM, @axtk, @d3m1d0v, @goshander, @LakeVostok, @NikitaCG, @jhoncool, @DaffPunks, @kseniya57, @mournfulCoroner, @DarkGenius, @sofiushko, @ogonkov, @resure, @imechoim

feat: lazy loading for userAvatar (#1124)
  src/components/UserAvatar/README.md
  src/components/UserAvatar/UserAvatar.tsx
  src/components/UserAvatar/__stories__/UserAvatar.stories.tsx
Owners: @DaffPunks

feat: support RTL in components (#1125)
  src/components/Button/ButtonIcon.tsx
  src/components/Dialog/Dialog.scss
  src/components/Dialog/DialogFooter/DialogFooter.scss
  src/components/Dialog/__stories__/DialogShowcase.tsx
  src/components/Popover/Popover.tsx
  src/components/Popover/types.ts
  src/components/Popup/Popup.scss
  src/components/utils/usePopper.ts
  styles/mixins.scss
Owners: @amje, @ValeraS, @korvin89, @kseniya57

feat(Switch): support RTL (#1120)
  src/components/Switch/Switch.scss
Owners: @zamkovskaya

feat(Modal): add CSS API
  src/components/Modal/Modal.scss
  src/components/Modal/README.md
Owners: @amje

feat(Popup): add CSS API
  src/components/Popover/Popover.scss
  src/components/Popup/Popup.scss
  src/components/Popup/README.md
  src/components/Tooltip/Tooltip.scss
Owners: @kseniya57, @amje

feat(Card): add CSS API
  src/components/Alert/Alert.scss
  src/components/Card/Card.scss
  src/components/Card/README.md
  src/components/Card/__stories__/Card.stories.tsx
Owners: @IsaevAlexandr, @Lunory

feat(RadioButton): remove --yc-* variables
  src/components/RadioButton/RadioButton.scss
Owners: @zamkovskaya

feat(Tabs): add CSS API
  src/components/Tabs/README.md
  src/components/Tabs/Tabs.scss
Owners: @sofiushko

feat(Popover): add CSS API
  src/components/Popover/Popover.scss
  src/components/Popover/README.md
Owners: @kseniya57

feat(Sheet): add CSS API
  src/components/Sheet/README.md
  src/components/Sheet/Sheet.scss
  src/components/Sheet/SheetContent.tsx
Owners: @mournfulCoroner

feat(Toaster): add CSS API
  src/components/Toaster/README.md
  src/components/Toaster/Toast/Toast.scss
  src/components/Toaster/ToastList/ToastAnimation.scss
  src/components/Toaster/ToastList/ToastList.scss
  src/components/Toaster/ToastList/ToastList.tsx
Owners: @ogonkov

fix(Select): use correct CSS-variables
  src/components/Select/components/SelectClear/SelectClear.scss
Owners: @korvin89

chore: fix example text
  src/components/Text/text/text.ts
  src/components/layout/types.ts
Owners: @IsaevAlexandr, @amje, @ValeraS, @korvin89

fix: code-review
  src/components/ClipboardButton/ClipboardButton.tsx
  src/components/ClipboardIcon/ClipboardIcon.tsx
  src/components/ClipboardIcon/__stories__/ClipboardIcon.stories.tsx
Owners: @Raubzeug

fix: code-review
  src/components/ClipboardButton/ClipboardButton.tsx
Owners: @Raubzeug

fix: review fixes
  src/components/Sheet/README.md
  src/components/Sheet/Sheet.scss
  src/components/Tabs/README.md
  src/components/Toaster/ToastList/ToastList.scss
Owners: @mournfulCoroner, @sofiushko, @ogonkov

CODEOWNERS:

* @amje @ValeraS @korvin89
/src/components/ActionTooltip @amje
/src/components/Alert @IsaevAlexandr
/src/components/ArrowToggle @Marginy605
#/src/components/Breadcrumbs
/src/components/Button @amje
/src/components/Card @Lunory
/src/components/Checkbox @zamkovskaya
/src/components/ClipboardButton @Raubzeug
/src/components/ClipboardIcon @Raubzeug
/src/components/ControlLabel @korvin89
/src/components/CopyToClipboard @SeqviriouM
#/src/components/Dialog
/src/components/Disclosure @Raubzeug
/src/components/DropdownMenu @axtk
/src/components/Hotkey @d3m1d0v
/src/components/Icon @amje
/src/components/Label @goshander
/src/components/Link @LakeVostok
/src/components/List @korvin89
/src/components/Loader @SeqviriouM
/src/components/Menu @NikitaCG
/src/components/Modal @amje
/src/components/Pagination @jhoncool
/src/components/Persona @DaffPunks
/src/components/Popover @kseniya57
/src/components/Popup @amje
/src/components/Portal @amje
/src/components/Progress @Lunory
/src/components/Radio @zamkovskaya
/src/components/RadioButton @zamkovskaya
/src/components/RadioGroup @zamkovskaya
/src/components/User @DaffPunks
/src/components/UserAvatar @DaffPunks
/src/components/Select @korvin89
/src/components/Sheet @mournfulCoroner
/src/components/Skeleton @SeqviriouM
/src/components/Spin @SeqviriouM
/src/components/Stories @DarkGenius
/src/components/Switch @zamkovskaya
#/src/components/Table
/src/components/Tabs @sofiushko
/src/components/Text @IsaevAlexandr
/src/components/controls/TextArea @korvin89
/src/components/controls/TextInput @korvin89
/src/components/Toaster @ogonkov
/src/components/Tooltip @amje
/src/components/theme @resure

/src/hooks/useActionHandlers @ogonkov
/src/hooks/useFileInput @korvin89
/src/hooks/useForkRef @ValeraS
/src/hooks/useIntersection @imechoim
/src/hooks/useTimeout @ogonkov
/src/hooks/useOutsideClick @NikitaCG
/src/hooks/useViewportSize @NikitaCG
/src/hooks/useUniqId @ValeraS

# Allow everyone to update dependencies
/package.json
/package-lock.json
