Repository gravity-ui/uikit, changes with the owners that CODEOWNERS names for each.
All owners: @amje, @ValeraS, @korvin89, @IsaevAlexandr, @Marginy605, @DakEnviy, @ogonkov, @Lunory, @zamkovskaya, @Raubzeug, @SeqviriouM, @v4dyar4, @axtk, @d3m1d0v, @goshander, @Estasie, @NikitaCG, @Vladeeg, @jhoncool, @Ruminat, @kseniya57, @mournfulCoroner, @Arucard89, @DarkGenius, @sofiushko, @imechoim

fix(Button): selected styles override disabled styles in button (#1856)
  src/components/Button/Button.scss
Owners: @amje

test: screenshots
  src/components/AvatarStack/__snapshots__/AvatarStack.visual.test.tsx-snapshots/AvatarStack-render-story-Total-dark-chromium-linux.png
  src/components/AvatarStack/__snapshots__/AvatarStack.visual.test.tsx-snapshots/AvatarStack-render-story-Total-dark-webkit-linux.png
  src/components/AvatarStack/__snapshots__/AvatarStack.visual.test.tsx-snapshots/AvatarStack-render-story-Total-light-chromium-linux.png
  src/components/AvatarStack/__snapshots__/AvatarStack.visual.test.tsx-snapshots/AvatarStack-render-story-Total-light-webkit-linux.png
Owners: @ogonkov

fix: check `max` value
  src/components/AvatarStack/AvatarStack.tsx
Owners: @ogonkov

feat(AvatarStack): add `total` prop
  src/components/AvatarStack/AvatarStack.tsx
  src/components/AvatarStack/__stories__/AvatarStack.stories.tsx
  src/components/AvatarStack/__tests__/AvatarStack.visual.test.tsx
  src/components/AvatarStack/types.ts
Owners: @ogonkov

docs: props description
  src/components/AvatarStack/README.md
Owners: @ogonkov

docs: props description
  src/components/AvatarStack/README.md
Owners: @ogonkov

docs: props description
  src/components/AvatarStack/README.md
  src/components/AvatarStack/types.ts
Owners: @ogonkov

feat(AvatarStack): add `total` prop (#1869)
  src/components/AvatarStack/AvatarStack.tsx
  src/components/AvatarStack/README.md
  src/components/AvatarStack/__snapshots__/AvatarStack.visual.test.tsx-snapshots/AvatarStack-render-story-Total-dark-chromium-linux.png
  src/components/AvatarStack/__snapshots__/AvatarStack.visual.test.tsx-snapshots/AvatarStack-render-story-Total-dark-webkit-linux.png
  src/components/AvatarStack/__snapshots__/AvatarStack.visual.test.tsx-snapshots/AvatarStack-render-story-Total-light-chromium-linux.png
  src/components/AvatarStack/__snapshots__/AvatarStack.visual.test.tsx-snapshots/AvatarStack-render-story-Total-light-webkit-linux.png
  src/components/AvatarStack/__stories__/AvatarStack.stories.tsx
  src/components/AvatarStack/__tests__/AvatarStack.visual.test.tsx
  src/components/AvatarStack/types.ts
Owners: @ogonkov

chore(main): release 6.28.0
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @amje, @ValeraS, @korvin89

chore(main): release 6.28.0 (#1872)
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @amje, @ValeraS, @korvin89

feat(Table): add dynamic href support for row actions in withTableActions
  src/components/Table/hoc/withTableActions/withTableActions.tsx
Owners: @Raubzeug

test: add command clear cache
  .gitignore
  package.json
  playwright/README.md
  playwright/playwright.config.ts
  scripts/playwright-docker.sh
Owners: @amje, @ValeraS, @korvin89

test: add command clear cache (#1875)
  .gitignore
  package.json
  playwright/README.md
  playwright/playwright.config.ts
  scripts/playwright-docker.sh
Owners: @amje, @ValeraS, @korvin89

CODEOWNERS:

* @amje @ValeraS @korvin89
/src/components/ActionTooltip @amje
/src/components/Alert @IsaevAlexandr
/src/components/ArrowToggle @Marginy605
/src/components/Avatar @DakEnviy
/src/components/AvatarStack @ogonkov
#/src/components/Breadcrumbs
/src/components/Button @amje
/src/components/Card @Lunory
/src/components/Checkbox @zamkovskaya
/src/components/ClipboardButton @Raubzeug
/src/components/ClipboardIcon @Raubzeug
/src/components/ControlLabel @korvin89
/src/components/CopyToClipboard @SeqviriouM
#/src/components/Dialog
/src/components/Disclosure @Raubzeug
/src/components/Divider @v4dyar4
/src/components/DropdownMenu @axtk
/src/components/Hotkey @d3m1d0v
/src/components/Icon @amje
/src/components/Label @goshander
/src/components/Link @Estasie
/src/components/List @korvin89
/src/components/Loader @SeqviriouM
/src/components/Menu @NikitaCG
/src/components/Modal @amje
/src/components/Overlay @Vladeeg
/src/components/Pagination @jhoncool
/src/components/Palette @Ruminat
/src/components/PinInput @amje
/src/components/PlaceholderContainer @Marginy605
/src/components/Popover @kseniya57
/src/components/Popup @amje
/src/components/Portal @amje
/src/components/Progress @Lunory
/src/components/Radio @zamkovskaya
/src/components/RadioButton @zamkovskaya
/src/components/RadioGroup @zamkovskaya
/src/components/User @DakEnviy
/src/components/UserLabel @DakEnviy
/src/components/useList @IsaevAlexandr
/src/components/Select @korvin89
/src/components/Sheet @mournfulCoroner
/src/components/Skeleton @SeqviriouM
/src/components/Slider @Arucard89
/src/components/Spin @SeqviriouM
/src/components/Stories @DarkGenius
/src/components/Switch @zamkovskaya
/src/components/Table @Raubzeug
/src/components/Tabs @sofiushko
/src/components/Text @IsaevAlexandr
/src/components/TreeList @IsaevAlexandr
/src/components/TreeSelect @IsaevAlexandr
/src/components/controls/TextArea @korvin89
/src/components/controls/TextInput @korvin89
/src/components/Toaster @ogonkov
/src/components/Tooltip @amje
/src/components/layout @IsaevAlexandr

/src/hooks/useActionHandlers @ogonkov
/src/hooks/useFileInput @korvin89
/src/hooks/useForkRef @ValeraS
/src/hooks/useIntersection @imechoim
/src/hooks/useTimeout @ogonkov
/src/hooks/useOutsideClick @NikitaCG
/src/hooks/useViewportSize @NikitaCG
/src/hooks/useUniqId @ValeraS

# Allow everyone to update dependencies
/package.json
/package-lock.json
